<div th:fragment="appinfo_contents">
	<div class="container">
		<h3>このアプリケーションについて</h3>
		<p><b>説明:</b></p>
		Web上で開発者が質問・回答し合い、情報を共有するためのフォーラム Webアプリケーションです。
		</br>
		</br>
		<p><b>機能:</b></p>
		<ul>
			<li><b>ログイン</b></li>
				メールアドレス（ユーザーID）とパスワードでログインします。</br>
				既存のユーザーでログインする場合、次のメールアドレスが使用できます（パスワードはすべて "password"）</br>
				yamada@xxx.co.jp</br>
				sato@xxx.co.jp</br>
				jiro@xxx.com</br>
				ihanako@gmail.com</br>
				syoko@yahoo.co.jp</br>
				testuser1@test.com</br>
				</br>
			<li><b>ユーザー登録</b></li>
				ユーザー登録には、メールアドレス（ユーザーID）、ユーザー名（表示名）、パスワードを入力します。</br>
				</br>
			<li><b>質問の検索</b></li>
				キーワードはスペースで区切ります。フレーズ検索する場合は、複数ワードをダブルクォーテーション（""）で囲みます。</br>
				例）</br>
				aws ec2</br>
				java "spring boot"</br>
				</br>
			<Li><b>質問の投稿</b></Li>
				トップページの [質問する] ボタンをクリックすると入力フォームに遷移します。</br>
				コードブロックやリンクなどの Markdown の使用は未サポートです。</br>
				なお、トップページ以外のページからトップページへ遷移するには、左上のロゴ "Developer Forum" をクリックします。</br>
				</br>
			<li><b>回答の投稿</b></li>
				質問のリンクをクリックして表示された質問詳細ページの一番下にある [回答する] ボタンをクリックすると、入力フォームが現れます。</br>
				コードブロックやリンクなどの Markdown の使用は未サポートです。</br>
				</br>
			<li><b>質問・回答の編集</b></li>
				ログイン中のユーザーが投稿した質問、回答のみ、ユーザー名の下に "編集" リンクが表示されるので、そのリンクをクリックして編集します。</br>
				</br>
			<li><b>ユーザー情報の表示</b></li>
				ログイン後、右上に表示されるユーザー名をクリックすると、ユーザー情報のページへ遷移します。</br>
				ユーザー情報のページでは、ユーザー名、メールアドレス、投稿した質問、回答した質問の一覧を見ることができます。</br>
				</br>
			<li><b>ユーザー情報の編集</b></li>
				ユーザー情報ページの "編集" リンクをクリックすると、ユーザー情報編集ページへ遷移します。</br>
				ただし、変更できるのは、ユーザー名とパスワードのみとなります。</br>
		</ul>
	</div>
</div>