<div th:fragment="postNew_contents">
	<div class="col-sm-offset-1 col-sm-9">
		<h1>質問する</h1>
		<br/>
		<form method="post" th:action="@{/post/new}" th:object="${postForm}">
			<div class="form-group" th:classappend="${#fields.hasErrors('postTitle')}?'has-error'">
				<label class="control-label">タイトル</label>
				<input type="text" class="form-control" placeholder="質問内容の概要が分かるようなタイトルを書いてください" th:field="*{postTitle}">
				<span class="text-danger" th:if="${#fields.hasErrors('postTitle')}" th:errors="*{postTitle}">postTitle error</span>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('postMsg')}?'has-error'">
				<label class="control-label">内容</label>
				<br/>
				<textarea placeholder="質問内容を具体的に書いてください" rows="15" class="form-control" th:field="*{postMsg}"></textarea>
				<span class="text-danger" th:if="${#fields.hasErrors('postMsg')}" th:errors="*{postMsg}">postMsg error</span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default" name="action" th:value="cancel">キャンセル</button>
				&nbsp;
				<button type="submit" class="btn btn-primary" name="action" th:value="send">送信</button>
			</div>
		</form>
	</div>
</div>