<div th:fragment="signup_contents">
	<div class="container text-center">
		<h1>ユーザー登録</h1>
		<div class="user-form">

			<form method="post" th:action="@{/signup}" th:object="${signupForm}">

				<!-- エラーメッセージ -->
				<div th:if="${errorMsg != null}">
					<p th:text="${errorMsg}" class="text-danger"></p>
				</div>

				<table class="table table-bordered">
				<!-- メールアドレスの入力エリア -->
				<tr>
					<th class="active col-sm-3 text-nowrap">メールアドレス<br/> (ユーザーID)</th>
					<td align="left">
						<div class="form-group" th:classappend="${#fields.hasErrors('userId')}?'has-error'">
							<input type="text" class="form-control" th:field="*{userId}">
							<span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId error</span>
						</div>
					</td>
				</tr>
				<!-- ユーザー名の入力エリア -->
				<tr>
					<th class="active">ユーザー名<br/> (表示名)</th>
					<td align="left">
						<div class="form-group" th:classappend="${#fields.hasErrors('userName')}?'has-error'">
							<input type="text" class="form-control" th:field="*{userName}">
							<span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</span>
						</div>
					</td>
				</tr>
				<!-- パスワードの入力エリア -->
				<tr>
					<th class="active">パスワード</th>
					<td align="left">
						<div class="form-group" th:classappend="${#fields.hasErrors('password')}?'has-error'">
							<input type="password" class="form-control" th:field="*{password}">
							<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
						</div>
					</td>
				</tr>
				</table>

				<button class="btn btn-primary" type="submit">登 録</button>

			</form>
		</div>
	</div>
</div>
